.home
  margin: auto

.container
  grid-row-gap: 100px
  border: 100px

button.audreyButton
  border-top-right-radius: 50px
  border-bottom-right-radius: 50px
  margin-bottom: 15px
  margin-top: 15px
  height: 80px
  font-family: 'Noto Sans', sans-serif
  font-style: normal
  font-weight: 500
  font-size: 16px
  line-height: 22px
  justify-content: left
  text-transform: none
